a.active {
  text-decoration: underline;
}
a:hover {
  color: orangered;
}

.spy-icon {
  height: 50px;
  width: 50px;
}

body {
  background-color: rgba(213, 64, 32, 1);
}

.picture1 {
  background-position: bottom right;
  background-attachment: fixed;
}
