a.active {
  text-decoration: underline;
}
a:hover {
  color: orangered;
}

.spy-icon {
  height: 50px;
  width: 50px;
}

body {
  background-color: rgba(213, 64, 32, 1);
  background-image: url("https://www.pinclipart.com/picdir/big/1-14882_detective-clipart-secret-agent-clipart-silhouette-png-download.png");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}

.picture1 {
  background-position: bottom right;
  background-attachment: fixed;
}
